{% extends "public_base.html" %}
{% set crumbs = [('Terms', None)] %}
{% block title %}Terms & Conditions{% endblock %}
{% block content %}



<section class="g-sec g-short"><div class="g-wrap g-wrap--narrow">
<div class="g-mb-card">
  <h1>Terms &amp; Conditions</h1>
  <p class="g-p">{{ text }}</p>
</div>
</div></section>


<img class="g-formhero" src="https://images.squarespace-cdn.com/content/53c3b576e4b02bad423517b8/1785430040227-II7R17Q9KKPD2Q39TWUP/IMG_3493.jpg?format=1500w" alt="The parkland" loading="lazy">


<div class="g-wrap"><svg class="g-ridge" viewBox="0 0 480 34" fill="none" stroke="currentColor" stroke-width="1" aria-hidden="true">
  <path d="M0 32 L58 18 L96 24 L150 6 L196 20 L236 11 L286 25 L330 14 L378 27 L424 19 L480 30"/>
  <path d="M0 33.5h480" opacity=".5"/>
</svg></div>

{% endblock %}
